.accordion-header {
    background-color: #eeeeee;
    padding: 40px;
    cursor: pointer;
    font-size: 50px;
    text-align: center;
  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
  }
  
  .accordion-item.active .accordion-content {
    max-height: 1000px;
  }

  li{
    margin: 20px;
  }

  li > span{
    margin-right: 10px;
    font-size: 3em;
  }

  li > button{
    font-size: 40px;
    margin: 20px 15px;
    padding: 20px;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
  }
  