section {
    border-width: 5px;
    border-bottom: solid;
    margin: 1rem 0;
    padding: 1rem;
    border-color: #fd8b25;
  }

.input_text{
  width: auto;
}

.input_text input{
  width: 500px;
  height: 50px;
  font-size: 20px;
}

.fa-circle-xmark{
  color: red;
}

.fa-circle-check{
  color: #05a305;
}